:root {
  --header-color: rgb(42, 40, 40);
  --highlight-color: rgb(246, 118, 27);
  --border-color: rgb(216, 245, 135);
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0px;
}

#content {
  align-items: center; 
  justify-content: center;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 150px auto 40px;
  padding: 0px;
  margin: 0px;
}

.header {
  text-transform: uppercase;
  color: var(--header-color);
  letter-spacing:.17em;
  font-size: 10vw;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  /*why does this padding make the side bar closer to edge?*/
  padding: 0px 5px 0px 5px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  /* change to 100vh minus height of header */
  height:100vh;
  background-color:rgb(154, 177, 247);
  display: flex;
  flex-direction: column;
    /* aligns contents to top */
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  padding: 35px 0px 20px 35px;
  font-size: 20px;
  border-top:1px solid var(--border-color);
  /* border-right: 5px solid rgba(217, 193, 89, 0.5); */
}

.nav {
  padding: 0px;
  margin: 0px;
}

.navsection {
  display: block;
  /* font-weight: bolder; */
  margin-top: 0px;
  margin-bottom: 12px;
}

.navlink {
  display: block;
  margin-bottom: 8px;
  padding-left: 9px;
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: beige;
  align-self:flex-start;
  height: 100vh;
  border-top:1px solid var(--border-color);
  padding: 35px 35px 20px 35px;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 243, 243);
  padding: 20px;
  width:fit-content;
  border-radius: 10px;
  box-shadow:2px 2px 3px rgba(0, 0, 0, 0.2);
}

.form {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  accent-color: red;
}

.taskform {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  accent-color: red;
}

.formlabel {
  text-align: right;
}

.savebutton {
  grid-column: 1 / span 2;
  width: 8ch;
  justify-self: center;
  background-color: pink;
  border-radius: 3px;
  border: solid 1px gray;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  /* x y blur spread */
}

.formheading {
  padding: 0px;
  margin: 0px 0px 15px 0px;
  letter-spacing: .2em;
}

#pdescription {
  color:red;
  height: 5ch;
}

a {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(248, 122, 243, 0.5);
}

a:hover, a:active {
  text-decoration: underline wavy red 1px;
  text-shadow: 1px 1px 3px rgba(73, 220, 68, 0.5);
}

a:active {
  color: white;
}

.maintaskarea {
  display: grid;
  grid-template-columns: 100%;
}

.maintaskitem {
  display:grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-rows: 10px;
}
