:root {
  --header-color: rgb(42, 40, 40);
  --highlight-color: rgb(246, 118, 27);
  --border-color: rgb(247, 192, 231);
  --button-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --task-title-color: rgb(53, 50, 50);
  --task-date-color: rgb(167, 30, 30);
  --main-bg-color: rgb(255, 255, 255);
  --p1-color: rgb(235, 13, 13);
  --p2-color: rgb(206, 100, 8);
  --p3-color: rgb(43, 163, 10);
  --p4-color: rgb(19, 70, 236);
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0px;
}

#content {
  align-items: center; 
  justify-content: center;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 150px auto 40px;
  padding: 0px;
  margin: 0px;
}

.header {
  text-transform: uppercase;
  color: var(--header-color);
  letter-spacing:.17em;
  font-size: 10vw;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  /*why does this padding make the side bar closer to edge?*/
  padding: 0px 5px 0px 5px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  /* change to 100vh minus height of header */
  height:100vh;
  background-color:rgb(154, 177, 247);
  display: flex;
  flex-direction: column;
    /* aligns contents to top */
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  padding: 35px 0px 20px 35px;
  font-size: 20px;
  border-top:1px solid var(--border-color);
  /* border-right: 5px solid rgba(217, 193, 89, 0.5); */
}

.nav {
  padding: 0px;
  margin: 0px;
}

.navsection {
  display: block;
  margin-bottom: 20px;
}

.navsectionheader {
  margin-top: 0px;
  margin-bottom: 7px;
}

.navlink {
  display: block;
  margin-bottom: 8px;
  padding-left: 9px;
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background-color: var(--main-bg-color);
  align-self:flex-start;
  height: 100vh;
  border-top:1px solid var(--border-color);
  padding: 15px 35px 20px 35px;
}

.maindescription {
  margin-bottom: 20px;
  margin-left: 15px;
  font-style: italic;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 243, 243);
  padding: 20px;
  width:fit-content;
  border-radius: 10px;
  box-shadow:2px 2px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 200px;
  left: 30%;
  z-index: 2000;
}

.form {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  accent-color: red;
}

.taskform {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 10px;
  accent-color: red;
}

.formlabel {
  text-align: right;
}

.buttons {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content;
}

.requirednote {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  text-align: end;
}

.savebutton {
  grid-column: 1 / 2;
  width: 8ch;
  justify-self: center;
  background-color: pink;
  border-radius: 3px;
  border: solid 1px gray;
  box-shadow: var(--button-box-shadow);
  /* x y blur spread */
}

.cancelbutton {
  background-color: rgb(235, 231, 231);
  grid-column: 2 / 3;
  width: 8ch;
  border-radius: 3px;
  border: solid 1px gray;
  color: brown;
  justify-self: center;
  box-shadow: var(--button-box-shadow);
}

.formheading {
  padding: 0px;
  margin: 0px 0px 15px 0px;
  letter-spacing: .2em;
}

#pdescription {
  color:red;
  height: 5ch;
}

a {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(248, 122, 243, 0.5);
}

.delete {
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: underline wavy red 1px;
  text-shadow: 1px 1px 3px rgba(73, 220, 68, 0.5);
}

a:active {
  color: white;
}

.mainprojectheader {
  text-transform:uppercase;
}

.maintaskarea {
  display: grid;
  grid-template-columns: 100%;
}

.mainprojectdescription {
  margin-bottom:10px;
}



#overlay {
  background-color:rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: hidden;
}


.tinpform {
  display: grid;
  grid-template-columns: 4ch 1fr 3fr 1fr;
  grid-template-rows: max-content;
}

input { width : 100%;
border: 1px solid #333;
box-sizing: border-box;
}

input:invalid {
box-shadow: 0 0 5px 1px orange;
}

input:focus:invalid {
box-shadow: none;
}

/* TASK ROWS IN MAIN AREA */

.maintaskrow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border-bottom: 1px pink solid;
  padding: 0px 10px 0px 0px;
  margin: 0px;
  box-sizing: border-box;
}



/* .taskrowtitle {
  color: var(--task-title-color);
} */

.plussigndiv {
  justify-self: center;
  align-self: center;
}

/* .taskrowduedate {
  white-space:pre;
  color: var(--task-date-color);
} */

.taskrowicon {
  align-self: center;
  justify-self: right;
  cursor: pointer;
}

.completed {
  color: gray;
}

/* ADD TASK ROW */

.addtaskrow {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  border-bottom: 1px pink solid;
  padding: 0px 10px 0px 0px;
  margin: 0px;
  height: 30px;
  color: var(--task-title-color);
}

.addtaskrow:hover {
  background-color: pink;
  margin:0px;
  cursor: pointer;
}

.maintaskrow:hover {
  background-color: pink;
  margin:0px;
}

/* TASK DETAIL AREA */

.hidden {
  display: none;
}

.taskdetailarea, .edittaskformarea {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color:rgb(231, 184, 184);
  padding-left: 28px;
  width: 80%;
  box-sizing: border-box;
  padding:10px;
  /* margin-top: -30px; */
}

/* .detailtitle {
  padding: 0px;
  margin: 0px 0px 10px 0px;
} */

.taskdetailgrid {
  display: grid;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 13ch auto;
  grid-template-rows: 20px 20px 20px 20px 20px;
}

.detaillabel {
  padding: 0px;
  margin: 0px;
  grid-column: 1 / 2;
}

.detailvalue {
  padding-left: 5px;
  margin: 0px;
  grid-column: 2 / 3;
}


.icon {
  height: 2ch;
}

.taskitemgrid {
  display: grid;
  width: 100%;
  grid-template-columns: auto 16ch 30px 30px 30px;
  grid-template-rows: minmax(30px, auto);
  margin-left: 10px;
  padding: 2px 0px 2px 0px;
  box-sizing:content-box;
}

.taskrowgriditem {
  margin: 0px 0px 0px 10px;
  justify-self: flex-start;
  padding: 2px 0px 2px 0px;
  display: flex;
  align-items: center;
  justify-items: center;
}



.taskcheckbox {
  align-self: center;
  justify-self: center;
} 

 .taskchecklabel {
  padding: 0px;
  align-self: center;
  justify-self: center;
}

.taskcheckboxdiv {
  margin-left: 10px;
  padding: 0px;
}

.taskdetailbutton {
  width: 9ch;
}

.p1 {
  color: var(--p1-color)
}

.p2 {
  color: var(--p2-color)
}

.p3 {
  color: var(--p3-color)
}

.p4 {
  color: var(--p4-color)
}

.maintaskbox {
  display:flex;
  flex-direction:column;
}

.edittaskformarea {
  background-color:green;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}